/* main style */
html {
    background-color: #f7f7f7;
    background-size: cover;
}

.form_wrap {
    /*height: 266px;*/
    width: 376px;
    background-color: #FFF;
}
.form_title_div {
    height: 42px;
    width: 100%;
    padding-top: 3px;
    text-align: center;
    background-image: linear-gradient(to right, #47c4f7 , #75ddff);

    font-family: "Segoe UI";
}
.header_div {
    width: 100%;
    height: 96px;
    position: absolute;
    top: 0px;

    background-color: #FFF;
    text-align: center;
}
.footer_div {
    width: 100%;
    height: 96px;
    position: absolute;
    bottom: 0px;

    background-color: #FFF;
    text-align: center;
}
.form_content {
    margin: 25px 0px 0px 45px;
}
.fields_wrap {
    width: 100%;
    margin-bottom: 10px;
}
.butts_wrap {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: center;
}

.inp_field {
    width: 286px;
    height: 38px;

    padding: 3px;
    border: solid 1px #d1d2d4;
}

.field_title_txt {
    font-family: "Segoe UI";
    font-size: 14px;
    float: left;
    color: #a7a9ac;
}
.forgot-password-label {
    font-family: "Segoe UI";
    font-size: 12px;
    color: #3fbff5;
}

.forgot-notification {
    display: none;
    font-size: 12.5px;
    color: #47c4f7;
}

.forgot-email {
    display: none;
}

.sign-in-label {
    display: block;
    cursor: pointer;
    margin: 3px 10px -3px 0px;
    width: 100%;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 12px;
    color: #3fbff5;
}

.form_title_logo {
    height: 35px;
    margin-left: 45px;
}
.jamps_logo_1 {
    width: 342px;
    margin-top: 24px;
}
.footer_logos {
    height: 68px;
    margin: 14px 38px 0px 38px;
}
.logos_disabled {
    filter: grayscale(100%);
}

/* Utility styles */
.hide {
    display: none;
}
.show {
    display: block;
}
.pointer {
    cursor: pointer;
    display: inline-block;
    margin: 5px 10px 0px 0px;
}
.position_centered {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    box-shadow: 10px 6px 20px #dcd7d7;
}
.login-notification {
    color: #dc3435;
    display: none;
    text-align: center;
    padding: 15px;
    position: fixed;
    min-height: 30px;
    width: 100%;
}
/* end main style */

/* nice button styles */
.container {
    height: 28px;
    width: 95px;
    display: inline-block;
    margin: 0px 10px 10px 0px;
    padding: 0px;
}
*[data-animation="ripple"] {
    height: 100%;
    width: 100%;
    display: block;
    outline: none;
    padding: 0px;
    color: #fff;
    /*text-transform: uppercase;*/
    background: linear-gradient(135deg, #74DDFF 0%,#3FBFF5 100%);
    box-sizing: border-box;
    text-align: center;
    /*line-height: 14px;*/
    font-family: "Segoe UI";
    font-size: 16px;
    color: #FFF;
    /*font-weight: 200;*/
    letter-spacing: 1px;
    text-decoration: none;
    /*box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);*/
    cursor: pointer;
    /*border-radius: 50px;*/
    -webkit-tap-highlight-color: transparent;
    border-radius: 0px;
}

.icon-success {
    padding-right: 5px;
    color: #8CD36B;
}

*[data-animation="ripple"]:focus {
    outline: none;
}

*[data-animation="ripple"]::selection {
    background: transparent;
    pointer-events: none;
}
/* end nice button styles */

.createAccount, .loginHere {
    font-size: 12px;
    width: 120%;
    margin-left: 55px;
    display: inline-block;
}

.createAccount td, .loginHere td {
    width: 100%;
    text-align: center;
}

.createAccount td span, .loginHere td span {
    color: #3fbff5;
    cursor: pointer;
}

.register div input {
    border-radius: 2px;
    margin: 5px 0 10px 0;
    font-size: 15px;
    padding-left: 10px;
}

.register-container {
    display: inline-block;
}

.inline-block {
    display: inline-block;
}

.errorMessage {
    color: #dc3435;
    display: block;
    margin-left: -60px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 5px;
}

.register-message .register-successfully {
    color: green;
    text-align: center;
    font-size: 17px;
    padding-bottom: 25px;
}

.register-message .register-error {
    color: red;
    text-align: center;
    font-size: 17px;
    padding-bottom: 25px;
}

.register-message .register-successfully {
    color: green;
    text-align: center;
    font-size: 17px;
    padding-bottom: 25px;
}

.register-message .register-login {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    display: block;
    padding-bottom: 50px;
}

.register-message .register-count {
    color: #c12c2c;
}

/* google captcha */
#login-gcaptcha {
    transform:scale(0.6);
    transform-origin:0;
    -webkit-transform:scale(0.6);
    transform:scale(0.6);
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
}
/* end google captcha */